In [24]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
pdr.get_data_yahoo(['2330.TW','2303.TW','2454.TW','2317.TW'])

all_data = {item:pdr.get_data_yahoo(item) for item in ['2330.TW','2303.TW','2454.TW','2317.TW']}
all_data.items()

[*********************100%%**********************]  4 of 4 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

dict_items([('2330.TW',                   Open        High         Low       Close   Adj Close  \
Date
2000-01-04   69.649033   69.649033   68.475182   69.649033   34.369534
2000-01-05   69.649033   71.214043   68.866341   71.214043   35.141819
2000-01-06   70.822884   71.214043   69.649033   69.649033   34.369534
2000-01-07   67.301331   68.475182   66.518639   67.692490   33.404049
2000-01-10   69.649033   70.431351   68.475182   70.040192   34.562569
...                ...         ...         ...         ...         ...
2024-06-18  944.000000  950.000000  940.000000  943.000000  943.000000
2024-06-19  953.000000  984.000000  953.000000  981.000000  981.000000
2024-06-20  971.000000  981.000000  971.000000  981.000000  981.000000
2024-06-21  961.000000  978.000000  960.000000  970.000000  970.000000
2024-06-24  958.000000  960.000000  940.000000  940.000000  940.000000

                  Volume
Date
2000-01-04  200662336736
2000-01-05  402466805912
2000-01-06  197545715802
2000-01-07  235270344752
2000-01-10  276171685539
...                  ...
2024-06-18      37876013
2024-06-19      72228052
2024-06-20      48225374
2024-06-21      88376132
2024-06-24      72050324

[6098 rows x 6 columns]), ('2303.TW',                  Open       High        Low      Close  Adj Close     Volume
Date
2000-01-04  43.961380  44.900723  43.209900  44.524986  21.108099  332630460
2000-01-05  43.585640  44.524986  43.209900  44.337120  21.019030  292754299
2000-01-06  44.337120  44.337120  43.209900  43.397774  20.573717  248928848
2000-01-07  42.270554  42.646294  40.955471  42.082687  19.950270  269228882
2000-01-10  40.203999  43.585640  40.203999  43.209900  20.484650  380487972
...               ...        ...        ...        ...        ...        ...
2024-06-18  56.700001  57.000000  56.200001  56.799999  56.799999   47601340
2024-06-19  57.000000  57.099998  56.599998  56.799999  56.799999   53101867
2024-06-20  56.900002  57.500000  56.299999  57.500000  57.500000   58585544
2024-06-21  57.299999  58.000000  57.099998  57.700001  57.700001   78368326
2024-06-24  57.500000  57.500000  56.599998  56.799999  56.799999   67989610

[6098 rows x 6 columns]), ('2454.TW',                    Open         High          Low        Close    Adj Close  \
Date
2001-07-23    72.470985    72.470985    72.470985    72.470985    28.596722
2001-07-24    76.625542    77.352501    75.161797    77.106911    30.426033
2001-07-25    77.106911    82.480515    77.106911    82.480515    32.546429
2001-07-26    85.408005    88.089897    84.671227    88.089897    34.759872
2001-07-27    90.290428    91.754173    87.353119    87.844307    34.662952
...                 ...          ...          ...          ...          ...
2024-06-18  1375.000000  1405.000000  1375.000000  1405.000000  1405.000000
2024-06-19  1425.000000  1485.000000  1420.000000  1485.000000  1485.000000
2024-06-20  1485.000000  1500.000000  1460.000000  1500.000000  1500.000000
2024-06-21  1470.000000  1495.000000  1445.000000  1490.000000  1490.000000
2024-06-24  1455.000000  1465.000000  1405.000000  1410.000000  1410.000000

               Volume
Date
2001-07-23     463095
2001-07-24  238341541
2001-07-25   94092605
2001-07-26   64114300
2001-07-27   60369077
...               ...
2024-06-18    7677930
2024-06-19   11552021
2024-06-20    6213796
2024-06-21   10724486
2024-06-24    9446108

[5694 rows x 6 columns]), ('2317.TW',                   Open        High         Low       Close   Adj Close  \
Date
1993-01-05    0.730803    0.744620    0.726197    0.730803    0.409765
1993-01-06    0.729267    0.729267    0.712379    0.718520    0.402878
1993-01-07    0.718520    0.729267    0.712379    0.715450    0.401157
1993-01-08    0.724661    0.724661    0.687814    0.693955    0.389104
1993-01-11    0.692420    0.709308    0.692420    0.698561    0.391687
...                ...         ...         ...         ...         ...
2024-06-18  200.500000  201.000000  197.000000  198.500000  198.500000
2024-06-19  200.000000  208.000000  199.500000  203.000000  203.000000
2024-06-20  205.000000  217.500000  203.500000  217.500000  217.500000
2024-06-21  211.000000  217.500000  211.000000  212.000000  212.000000
2024-06-24  209.500000  210.000000  205.000000  206.000000  206.000000

               Volume
Date
1993-01-05   33478780
1993-01-06   46846584
1993-01-07   44447315
1993-01-08   43699448
1993-01-11   14068903
...               ...
2024-06-18   90319019
2024-06-19  173889577
2024-06-20  177537123
2024-06-21  163458287
2024-06-24  105624306

[7923 rows x 6 columns])])

In [25]:
import pandas as pd
items = {ticker:data['Adj Close']for ticker,data in all_data.items()}
stock_price = pd.DataFrame(items)
stock_price.columns = ['台積電','聯電','聯發科','鴻海']
stock_price

              台積電         聯電     聯發科          鴻海
Date
1993-01-05    NaN        NaN     NaN    0.409765
1993-01-06    NaN        NaN     NaN    0.402878
1993-01-07    NaN        NaN     NaN    0.401157
1993-01-08    NaN        NaN     NaN    0.389104
1993-01-11    NaN        NaN     NaN    0.391687
...           ...        ...     ...         ...
2024-06-18  943.0  56.799999  1405.0  198.500000
2024-06-19  981.0  56.799999  1485.0  203.000000
2024-06-20  981.0  57.500000  1500.0  217.500000
2024-06-21  970.0  57.700001  1490.0  212.000000
2024-06-24  940.0  56.799999  1410.0  206.000000

[7923 rows x 4 columns]

In [26]:
stock_price.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7923 entries, 1993-01-05 to 2024-06-24
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   台積電     6098 non-null   float64
 1   聯電      6098 non-null   float64
 2   聯發科     5694 non-null   float64
 3   鴻海      7923 non-null   float64
dtypes: float64(4)
memory usage: 309.5 KB

In [27]:
df1 = stock_price.dropna()
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5694 entries, 2001-07-23 to 2024-06-24
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   台積電     5694 non-null   float64
 1   聯電      5694 non-null   float64
 2   聯發科     5694 non-null   float64
 3   鴻海      5694 non-null   float64
dtypes: float64(4)
memory usage: 222.4 KB

                   台積電         聯電          聯發科          鴻海
Date
2001-07-23   20.068762  11.974669    28.596722   15.761829
2001-07-24   19.895651  11.940749    30.426033   15.449726
2001-07-25   20.414665  12.246054    32.546429   15.866555
2001-07-26   20.933676  12.585275    34.759872   16.386044
2001-07-27   21.971703  12.856661    34.662952   16.073942
...                ...        ...          ...         ...
2024-06-18  943.000000  56.799999  1405.000000  198.500000
2024-06-19  981.000000  56.799999  1485.000000  203.000000
2024-06-20  981.000000  57.500000  1500.000000  217.500000
2024-06-21  970.000000  57.700001  1490.000000  212.000000
2024-06-24  940.000000  56.799999  1410.000000  206.000000

[5694 rows x 4 columns]

In [28]:
df1.query('台積電>=500')

                   台積電         聯電          聯發科          鴻海
Date
2021-01-04  500.482025  38.632248   609.309204   87.398941
2021-01-05  506.084564  39.310749   613.155823   90.985886
2021-01-06  512.620544  39.819626   609.309204   91.860748
2021-01-07  527.560425  39.183529   614.694519   93.610481
2021-01-08  541.566528  40.582943   644.698364   94.485336
...                ...        ...          ...         ...
2024-06-18  943.000000  56.799999  1405.000000  198.500000
2024-06-19  981.000000  56.799999  1485.000000  203.000000
2024-06-20  981.000000  57.500000  1500.000000  217.500000
2024-06-21  970.000000  57.700001  1490.000000  212.000000
2024-06-24  940.000000  56.799999  1410.000000  206.000000

[655 rows x 4 columns]

In [29]:
df1.loc['2023-01-04']

台積電    436.495758
聯電      38.277035
聯發科    559.592468
鴻海      93.578865
Name: 2023-01-04 00:00:00, dtype: float64

In [30]:
df1.loc['2023-01']

                   台積電         聯電         聯發科         鴻海
Date
2023-01-03  439.894501  38.603394  566.631409  94.532784
2023-01-04  436.495758  38.277035  559.592468  93.578865
2023-01-05  445.235413  38.463524  555.193176  93.483475
2023-01-06  445.235413  39.535843  580.709229  93.865044
2023-01-09  467.084442  41.493984  593.907104  94.532784
2023-01-10  471.939789  41.960209  610.624512  94.818954
2023-01-11  470.483185  42.100079  622.062744  94.532784
2023-01-12  472.425354  42.100079  629.101624  94.055824
2023-01-13  485.534821  42.333191  610.624512  94.055824
2023-01-16  490.390106  41.866966  619.423157  93.578865
2023-01-17  488.447998  42.846039  609.744629  93.578865
2023-01-30  527.290771  45.503517  650.218323  93.578865
2023-01-31  506.898315  45.503517  631.741211  95.105125

In [31]:
df1.loc['2023']

                   台積電         聯電          聯發科          鴻海
Date
2023-01-03  439.894501  38.603394   566.631409   94.532784
2023-01-04  436.495758  38.277035   559.592468   93.578865
2023-01-05  445.235413  38.463524   555.193176   93.483475
2023-01-06  445.235413  39.535843   580.709229   93.865044
2023-01-09  467.084442  41.493984   593.907104   94.532784
...                ...        ...          ...         ...
2023-12-25  576.073059  50.200001   969.315857  103.500000
2023-12-26  581.030640  50.799999   974.186768  104.000000
2023-12-27  586.979858  53.500000  1013.154236  103.500000
2023-12-28  587.971313  52.500000   998.541443  104.000000
2023-12-29  587.971313  52.599998   988.799561  104.500000

[239 rows x 4 columns]

In [32]:
stock2023=df1.loc['2023-03-01':'2023-05-31']

In [33]:
#和上一筆的差比例
pctchange =df1.loc['2023'].pct_change().dropna()
pctchange

                 台積電        聯電       聯發科        鴻海
Date
2023-01-04 -0.007726 -0.008454 -0.012422 -0.010091
2023-01-05  0.020022  0.004872 -0.007862 -0.001019
2023-01-06  0.000000  0.027879  0.045959  0.004082
2023-01-09  0.049073  0.049528  0.022727  0.007114
2023-01-10  0.010395  0.011236  0.028148  0.003027
...              ...       ...       ...       ...
2023-12-25 -0.001718  0.004000  0.005051  0.000000
2023-12-26  0.008606  0.011952  0.005025  0.004831
2023-12-27  0.010239  0.053150  0.040000 -0.004808
2023-12-28  0.001689 -0.018692 -0.014423  0.004831
2023-12-29  0.000000  0.001905 -0.009756  0.004808

[238 rows x 4 columns]

In [34]:
stock2023_1 = (stock2023 - stock2023.shift(1)).dropna()
stock2023_1

                  台積電        聯電        聯發科        鴻海
Date
2023-03-02  -2.913239 -0.559467 -14.077820  0.476959
2023-03-03  -2.913147  0.559467   0.000000  0.000000
2023-03-06   4.855255  0.559475   7.918762  0.953911
2023-03-07   2.913239 -0.279739   3.519470  1.430870
2023-03-08  -2.913239  0.466225 -17.597290 -0.953911
...               ...       ...        ...       ...
2023-05-25  17.573730 -0.233112  -2.639526 -0.476959
2023-05-26  22.455505  1.398674  19.356934  0.000000
2023-05-29   1.952637  0.745956   7.038940  2.861740
2023-05-30  -1.952637  0.372978  21.996521  1.430870
2023-05-31  -7.810608  0.186489  -3.519470 -0.476959

[61 rows x 4 columns]

In [35]:
pctchange.corr()

          台積電        聯電       聯發科        鴻海
台積電  1.000000  0.597073  0.426387  0.249362
聯電   0.597073  1.000000  0.374385  0.145541
聯發科  0.426387  0.374385  1.000000  0.081239
鴻海   0.249362  0.145541  0.081239  1.000000