In [ ]:
#list comprehension->快速建立list
[f'{num}號' for num in range(1,51)]
[f'{num}號' for num in range(1,31)]

In [ ]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
             )
df1

In [3]:
#從dataFrame取出ndarray
df1.values

array([[57, 95, 58, 98, 95],
       [56, 51, 85, 88, 86],
       [88, 68, 90, 62, 97],
       [54, 92, 88, 64, 51],
       [75, 73, 77, 63, 79],
       [96, 59, 97, 58, 73],
       [59, 62, 93, 72, 94],
       [82, 89, 88, 86, 65],
       [93, 61, 52, 62, 91],
       [88, 55, 76, 90, 69],
       [58, 64, 94, 84, 59],
       [53, 54, 85, 81, 98],
       [91, 92, 95, 67, 94],
       [58, 88, 79, 59, 63],
       [79, 55, 53, 96, 51],
       [98, 50, 69, 51, 57],
       [83, 77, 54, 56, 89],
       [96, 87, 94, 98, 56],
       [53, 91, 89, 90, 59],
       [67, 53, 99, 88, 82],
       [68, 67, 67, 60, 71],
       [56, 72, 86, 84, 97],
       [88, 50, 82, 61, 70],
       [58, 78, 71, 90, 98],
       [55, 56, 60, 56, 98],
       [89, 88, 87, 70, 70],
       [73, 86, 95, 87, 81],
       [86, 91, 84, 51, 95],
       [86, 58, 68, 96, 55],
       [66, 54, 68, 79, 51],
       [97, 57, 76, 79, 79],
       [70, 80, 66, 69, 75],
       [62, 68, 76, 83, 89],
       [81, 92, 71, 66, 55],
       [57, 91, 63, 68, 68],
       [90, 85, 74, 94, 93],
       [73, 79, 82, 64, 54],
       [80, 88, 89, 99, 73],
       [77, 57, 72, 94, 69],
       [51, 93, 97, 68, 76],
       [59, 50, 71, 81, 91],
       [88, 94, 66, 67, 84],
       [67, 52, 68, 68, 58],
       [89, 53, 70, 74, 78],
       [75, 67, 58, 67, 85],
       [69, 76, 57, 83, 86],
       [98, 60, 62, 67, 50],
       [63, 87, 76, 82, 93],
       [81, 81, 96, 53, 63],
       [91, 66, 55, 93, 74]])

In [5]:
#dataFrame[欄位名稱] subscript
df1['國文'], df1['英文']

(1號     76
 2號     65
 3號     95
 4號     74
 5號     58
 6號     55
 7號     65
 8號     65
 9號     67
 10號    80
 11號    58
 12號    68
 13號    89
 14號    74
 15號    95
 16號    72
 17號    77
 18號    86
 19號    60
 20號    75
 21號    74
 22號    92
 23號    94
 24號    55
 25號    63
 26號    66
 27號    78
 28號    98
 29號    82
 30號    91
 31號    68
 32號    86
 33號    96
 34號    97
 35號    68
 36號    58
 37號    62
 38號    63
 39號    67
 40號    66
 41號    68
 42號    60
 43號    58
 44號    88
 45號    63
 46號    50
 47號    84
 48號    51
 49號    88
 50號    69
 Name: 國文, dtype: int64,
 1號     93
 2號     58
 3號     99
 4號     64
 5號     89
 6號     95
 7號     80
 8號     58
 9號     75
 10號    83
 11號    52
 12號    50
 13號    82
 14號    90
 15號    54
 16號    65
 17號    66
 18號    63
 19號    78
 20號    80
 21號    93
 22號    55
 23號    73
 24號    78
 25號    61
 26號    51
 27號    91
 28號    55
 29號    82
 30號    64
 31號    93
 32號    66
 33號    95
 34號    80
 35號    80
 36號    64
 37號    83
 38號    55
 39號    64
 40號    60
 41號    81
 42號    51
 43號    67
 44號    65
 45號    70
 46號    84
 47號    76
 48號    98
 49號    72
 50號    68
 Name: 英文, dtype: int64)

In [13]:
#Series的選取,使用subscript
#Series[數值的index]
df1['國文'][0]
#Series[數值的slice]
df1['國文'][:5]
#Series[字串的index]
df1['國文']['1號']
#Series[[字串,字串,字串]]
df1['國文'][['1號','2號','3號']]

/tmp/ipykernel_25396/3448787725.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][0]

1號    57
2號    56
3號    88
Name: 國文, dtype: int64

In [4]:
#dataFrame的subscripts
#dataFrame[欄位名稱]
df1['國文']

1號     70
2號     80
3號     52
4號     63
5號     72
6號     53
7號     52
8號     57
9號     64
10號    68
11號    83
12號    92
13號    92
14號    96
15號    67
16號    65
17號    75
18號    90
19號    95
20號    58
21號    66
22號    73
23號    82
24號    91
25號    56
26號    83
27號    88
28號    69
29號    50
30號    92
31號    83
32號    95
33號    63
34號    55
35號    72
36號    76
37號    71
38號    81
39號    57
40號    88
41號    65
42號    54
43號    67
44號    90
45號    81
46號    63
47號    59
48號    95
49號    91
50號    56
Name: 國文, dtype: int64

In [ ]:
#dataFrame的subscripts
#dataFrame[[欄位名稱,欄位名稱]]
df1[['國文','英文']]

In [ ]:
#dataFrame的列的選取
#loc[字串]
#iloc[數值]

In [14]:
#選取1號
#loc[字串]
df1.loc['1號']

國文    57
英文    95
數學    58
地理    98
社會    95
Name: 1號, dtype: int64

In [15]:
#選取1號,2號,3號
#loc[[字串,字串]]
df1.loc[['1號','2號','3號']]

    國文  英文  數學  地理  社會
1號  57  95  58  98  95
2號  56  51  85  88  86
3號  88  68  90  62  97

In [16]:
#選取前5位
#iloc[數值索引:數值索引]
df1.iloc[:5]

    國文  英文  數學  地理  社會
1號  57  95  58  98  95
2號  56  51  85  88  86
3號  88  68  90  62  97
4號  54  92  88  64  51
5號  75  73  77  63  79

In [17]:
#選取後5位
#iloc[數值索引:數值索引]
df1.iloc[-5:]

     國文  英文  數學  地理  社會
46號  69  76  57  83  86
47號  98  60  62  67  50
48號  63  87  76  82  93
49號  81  81  96  53  63
50號  91  66  55  93  74