In [1]:
#list comprehension->快速建立list
[f'{num}號' for num in range(1,51)]

['1號',
 '2號',
 '3號',
 '4號',
 '5號',
 '6號',
 '7號',
 '8號',
 '9號',
 '10號',
 '11號',
 '12號',
 '13號',
 '14號',
 '15號',
 '16號',
 '17號',
 '18號',
 '19號',
 '20號',
 '21號',
 '22號',
 '23號',
 '24號',
 '25號',
 '26號',
 '27號',
 '28號',
 '29號',
 '30號',
 '31號',
 '32號',
 '33號',
 '34號',
 '35號',
 '36號',
 '37號',
 '38號',
 '39號',
 '40號',
 '41號',
 '42號',
 '43號',
 '44號',
 '45號',
 '46號',
 '47號',
 '48號',
 '49號',
 '50號']

In [ ]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
             )
df1

In [3]:
#從dataFrame取出ndarray
df1.values

array([[57, 95, 58, 98, 95],
       [56, 51, 85, 88, 86],
       [88, 68, 90, 62, 97],
       [54, 92, 88, 64, 51],
       [75, 73, 77, 63, 79],
       [96, 59, 97, 58, 73],
       [59, 62, 93, 72, 94],
       [82, 89, 88, 86, 65],
       [93, 61, 52, 62, 91],
       [88, 55, 76, 90, 69],
       [58, 64, 94, 84, 59],
       [53, 54, 85, 81, 98],
       [91, 92, 95, 67, 94],
       [58, 88, 79, 59, 63],
       [79, 55, 53, 96, 51],
       [98, 50, 69, 51, 57],
       [83, 77, 54, 56, 89],
       [96, 87, 94, 98, 56],
       [53, 91, 89, 90, 59],
       [67, 53, 99, 88, 82],
       [68, 67, 67, 60, 71],
       [56, 72, 86, 84, 97],
       [88, 50, 82, 61, 70],
       [58, 78, 71, 90, 98],
       [55, 56, 60, 56, 98],
       [89, 88, 87, 70, 70],
       [73, 86, 95, 87, 81],
       [86, 91, 84, 51, 95],
       [86, 58, 68, 96, 55],
       [66, 54, 68, 79, 51],
       [97, 57, 76, 79, 79],
       [70, 80, 66, 69, 75],
       [62, 68, 76, 83, 89],
       [81, 92, 71, 66, 55],
       [57, 91, 63, 68, 68],
       [90, 85, 74, 94, 93],
       [73, 79, 82, 64, 54],
       [80, 88, 89, 99, 73],
       [77, 57, 72, 94, 69],
       [51, 93, 97, 68, 76],
       [59, 50, 71, 81, 91],
       [88, 94, 66, 67, 84],
       [67, 52, 68, 68, 58],
       [89, 53, 70, 74, 78],
       [75, 67, 58, 67, 85],
       [69, 76, 57, 83, 86],
       [98, 60, 62, 67, 50],
       [63, 87, 76, 82, 93],
       [81, 81, 96, 53, 63],
       [91, 66, 55, 93, 74]])

In [ ]:
#dataFrame[欄位名稱] subscript
df1['國文'], df1['英文']

In [13]:
#Series的選取,使用subscript
#Series[數值的index]
df1['國文'][0]
#Series[數值的slice]
df1['國文'][:5]
#Series[字串的index]
df1['國文']['1號']
#Series[[字串,字串,字串]]
df1['國文'][['1號','2號','3號']]

/tmp/ipykernel_25396/3448787725.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][0]

1號    57
2號    56
3號    88
Name: 國文, dtype: int64

In [ ]:
#dataFrame的subscripts
#dataFrame[欄位名稱]
df1['國文']

In [ ]:
#dataFrame的subscripts
#dataFrame[[欄位名稱,欄位名稱]]
df1[['國文','英文']]

In [ ]:
#dataFrame的列的選取
#loc[字串]
#iloc[數值]

In [14]:
#選取1號
#loc[字串]
df1.loc['1號']

國文    57
英文    95
數學    58
地理    98
社會    95
Name: 1號, dtype: int64

In [15]:
#選取1號,2號,3號
#loc[[字串,字串]]
df1.loc[['1號','2號','3號']]

    國文  英文  數學  地理  社會
1號  57  95  58  98  95
2號  56  51  85  88  86
3號  88  68  90  62  97

In [16]:
#選取前5位
#iloc[index:index]
df1.iloc[:5]

    國文  英文  數學  地理  社會
1號  57  95  58  98  95
2號  56  51  85  88  86
3號  88  68  90  62  97
4號  54  92  88  64  51
5號  75  73  77  63  79

In [17]:
#選取後5位
#iloc[數值索引:數值索引]
df1.iloc[-5:]

     國文  英文  數學  地理  社會
46號  69  76  57  83  86
47號  98  60  62  67  50
48號  63  87  76  82  93
49號  81  81  96  53  63
50號  91  66  55  93  74