In [7]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('各鄉鎮市區人口密度.csv')
df1

,statistic_yyy,site_id,people_total,area,population_density
0,統計年,區域別,年底人口數,土地面積,人口密度
1,106,新北市板橋區,551480,23.1373,23835
2,106,新北市三重區,387484,16.317,23747
3,106,新北市中和區,413590,20.144,20532
4,106,新北市永和區,222585,5.7138,38956
...,...,...,...,...,...
371,NaN,NaN,NaN,NaN,NaN
372,NaN,說明：1.人口密度係指每單位土地面積內之人口數。,NaN,NaN,NaN
373,NaN,2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里),NaN,NaN,NaN
374,NaN,，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。,NaN,NaN,NaN
375,NaN,3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。,NaN,NaN,NaN

In [8]:
df1.iloc[0]

statistic_yyy           統計年
site_id                 區域別
people_total          年底人口數
area                   土地面積
population_density     人口密度
Name: 0, dtype: object

In [9]:
df1.columns = df1.iloc[0]
df1

,統計年,區域別,年底人口數,土地面積,人口密度
0,統計年,區域別,年底人口數,土地面積,人口密度
1,106,新北市板橋區,551480,23.1373,23835
2,106,新北市三重區,387484,16.317,23747
3,106,新北市中和區,413590,20.144,20532
4,106,新北市永和區,222585,5.7138,38956
...,...,...,...,...,...
371,NaN,NaN,NaN,NaN,NaN
372,NaN,說明：1.人口密度係指每單位土地面積內之人口數。,NaN,NaN,NaN
373,NaN,2.96年12月起，我國土地面積增列東沙群島(2.38平方公里)及南沙群島(0.4896平方公里),NaN,NaN,NaN
374,NaN,，由高雄市代管；原金門縣烏坵鄉面積，因重測由2.6平方公里修正為1.2平方公里。,NaN,NaN,NaN
375,NaN,3.104年12月南沙太平島交通基礎整建工程竣工，增加面積0.0149平方公里。,NaN,NaN,NaN

In [10]:
df2 = df1.dropna()
df2

0    統計年     區域別   年底人口數     土地面積   人口密度
0    統計年     區域別   年底人口數     土地面積   人口密度
1    106  新北市板橋區  551480  23.1373  23835
2    106  新北市三重區  387484   16.317  23747
3    106  新北市中和區  413590   20.144  20532
4    106  新北市永和區  222585   5.7138  38956
..   ...     ...     ...      ...    ...
366  106  連江縣北竿鄉    2360      9.9    238
367  106  連江縣莒光鄉    1624      4.7    346
368  106  連江縣東引鄉    1352      3.8    356
369  106    東沙群島      …      2.38     …
370  106    南沙群島      …    0.5045     …

[371 rows x 5 columns]

In [11]:
df3 = df2.drop(index=0)
df3

0    統計年     區域別   年底人口數     土地面積   人口密度
1    106  新北市板橋區  551480  23.1373  23835
2    106  新北市三重區  387484   16.317  23747
3    106  新北市中和區  413590   20.144  20532
4    106  新北市永和區  222585   5.7138  38956
5    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
366  106  連江縣北竿鄉    2360      9.9    238
367  106  連江縣莒光鄉    1624      4.7    346
368  106  連江縣東引鄉    1352      3.8    356
369  106    東沙群島      …      2.38     …
370  106    南沙群島      …    0.5045     …

[370 rows x 5 columns]

In [12]:
df3['土地面積'] = df3['土地面積'].astype(float)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370 entries, 1 to 370
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統計年     370 non-null    object
 1   區域別     370 non-null    object
 2   年底人口數   370 non-null    object
 3   土地面積    370 non-null    float64
 4   人口密度    370 non-null    object
dtypes: float64(1), object(4)
memory usage: 17.3+ KB

In [13]:
#不是標準寫法
items = []
for item in df3['年底人口數']:
    try:
        items.append(int(item))
    except ValueError:
        items.append(0)
items

[551480,
 387484,
 413590,
 222585,
 416524,
 302089,
 184149,
 86593,
 114926,
 169597,
 199321,
 40353,
 238067,
 201309,
 84919,
 78911,
 106101,
 23660,
 7683,
 6528,
 23200,
 12286,
 38493,
 4719,
 8939,
 12552,
 22015,
 22296,
 6320,
 206988,
 225753,
 309969,
 230710,
 159608,
 129278,
 191850,
 274424,
 122155,
 287771,
 288295,
 256456,
 440840,
 405216,
 94451,
 167639,
 161912,
 89281,
 157633,
 198074,
 121822,
 224219,
 48953,
 66472,
 11505,
 18450,
 75811,
 125067,
 115627,
 147653,
 227043,
 168760,
 274819,
 166879,
 50714,
 77761,
 86420,
 92645,
 57993,
 54482,
 65553,
 108288,
 95203,
 24754,
 15066,
 32185,
 19303,
 74554,
 57322,
 77818,
 65393,
 189066,
 211492,
 10949,
 77966,
 25583,
 28520,
 21365,
 23718,
 21049,
 44603,
 24239,
 22275,
 21448,
 9761,
 59380,
 26078,
 24758,
 22974,
 19849,
 11188,
 43630,
 48386,
 36574,
 30564,
 7314,
 14151,
 9717,
 8787,
 4876,
 75518,
 68424,
 34433,
 4038,
 233905,
 186841,
 125394,
 132726,
 192224,
 66496,
 77770,
 24219,
 139259,
 197072,
 183751,
 343243,
 51153,
 26991,
 171033,
 189839,
 28763,
 157475,
 359120,
 69990,
 112397,
 42757,
 34577,
 85894,
 44291,
 97329,
 37579,
 29922,
 7245,
 28844,
 52761,
 29803,
 30217,
 13980,
 19383,
 36116,
 36940,
 39973,
 13016,
 6107,
 12038,
 14540,
 1924,
 4246,
 3125,
 95918,
 72319,
 40056,
 29398,
 35777,
 24250,
 32458,
 53289,
 39673,
 21467,
 6102,
 5900,
 181955,
 28896,
 33415,
 96918,
 77444,
 13064,
 56836,
 20061,
 14550,
 9390,
 5538,
 9543,
 4559,
 89165,
 103147,
 45976,
 34691,
 85587,
 36750,
 17134,
 14738,
 33773,
 18138,
 10176,
 10840,
 16530,
 7154,
 12952,
 6756,
 4417,
 5883,
 233613,
 124632,
 86799,
 90986,
 33355,
 55686,
 41890,
 50980,
 16928,
 36957,
 47332,
 39357,
 45924,
 23755,
 36870,
 32587,
 34836,
 37334,
 43144,
 15325,
 27462,
 30642,
 33714,
 16987,
 15303,
 30060,
 100180,
 81033,
 97875,
 55060,
 10904,
 38796,
 17808,
 14842,
 15946,
 18803,
 17803,
 16253,
 15748,
 108567,
 44941,
 70892,
 46244,
 28932,
 40278,
 31708,
 19263,
 28939,
 18230,
 27255,
 24678,
 45665,
 14893,
 13010,
 23954,
 25980,
 23667,
 27653,
 25624,
 37781,
 42382,
 27143,
 31198,
 71693,
 14751,
 31935,
 23318,
 24969,
 18486,
 15577,
 49744,
 44974,
 35962,
 19475,
 11599,
 4564,
 5631,
 200452,
 54377,
 47866,
 30726,
 50935,
 30008,
 11076,
 22110,
 26459,
 25997,
 24622,
 20556,
 54707,
 17158,
 9936,
 24571,
 35321,
 15720,
 18080,
 10670,
 19380,
 12337,
 8586,
 7840,
 5478,
 7644,
 3246,
 6746,
 5271,
 7465,
 4867,
 4806,
 4926,
 105960,
 14238,
 8742,
 17399,
 6117,
 11163,
 8517,
 7260,
 7951,
 8248,
 3926,
 3551,
 4222,
 3518,
 3653,
 5075,
 104380,
 10861,
 24345,
 20185,
 83747,
 18043,
 12888,
 4383,
 11653,
 10413,
 15889,
 6384,
 6066,
 62308,
 14508,
 9817,
 8408,
 5176,
 3856,
 52163,
 53972,
 38708,
 44314,
 47908,
 82358,
 52035,
 212553,
 150636,
 77943,
 122103,
 147295,
 43285,
 29413,
 20535,
 30838,
 12700,
 685,
 7544,
 2360,
 1624,
 1352,
 0,
 0]

In [14]:
def value_to_int(value:str)->int:
    try:
        return int(value)
    except ValueError:
        return 0
    
df3['年底人口數'] = df3['年底人口數'].map(value_to_int)
df3['人口密度'] = df3['人口密度'].map(value_to_int)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370 entries, 1 to 370
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   統計年     370 non-null    object
 1   區域別     370 non-null    object
 2   年底人口數   370 non-null    int64
 3   土地面積    370 non-null    float64
 4   人口密度    370 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 17.3+ KB

In [15]:
df3

0    統計年     區域別   年底人口數     土地面積   人口密度
1    106  新北市板橋區  551480  23.1373  23835
2    106  新北市三重區  387484  16.3170  23747
3    106  新北市中和區  413590  20.1440  20532
4    106  新北市永和區  222585   5.7138  38956
5    106  新北市新莊區  416524  19.7383  21102
..   ...     ...     ...      ...    ...
366  106  連江縣北竿鄉    2360   9.9000    238
367  106  連江縣莒光鄉    1624   4.7000    346
368  106  連江縣東引鄉    1352   3.8000    356
369  106    東沙群島       0   2.3800      0
370  106    南沙群島       0   0.5045      0

[370 rows x 5 columns]

In [16]:
sorted_value = df3.sort_values(by='年底人口數',ascending=False)
sorted_value

0    統計年     區域別   年底人口數     土地面積   人口密度
1    106  新北市板橋區  551480  23.1373  23835
42   106  桃園市桃園區  440840  34.8046  12666
5    106  新北市新莊區  416524  19.7383  21102
3    106  新北市中和區  413590  20.1440  20532
43   106  桃園市中壢區  405216  76.5200   5296
..   ...     ...     ...      ...    ...
367  106  連江縣莒光鄉    1624   4.7000    346
368  106  連江縣東引鄉    1352   3.8000    356
364  106  金門縣烏坵鄉     685   1.2000    571
369  106    東沙群島       0   2.3800      0
370  106    南沙群島       0   0.5045      0

[370 rows x 5 columns]

In [17]:
sorted_value.iloc[:5]

0   統計年     區域別   年底人口數     土地面積   人口密度
1   106  新北市板橋區  551480  23.1373  23835
42  106  桃園市桃園區  440840  34.8046  12666
5   106  新北市新莊區  416524  19.7383  21102
3   106  新北市中和區  413590  20.1440  20532
43  106  桃園市中壢區  405216  76.5200   5296

In [18]:
sorted_value.iloc[-5:]

0    統計年     區域別  年底人口數    土地面積  人口密度
367  106  連江縣莒光鄉   1624  4.7000   346
368  106  連江縣東引鄉   1352  3.8000   356
364  106  金門縣烏坵鄉    685  1.2000   571
369  106    東沙群島      0  2.3800     0
370  106    南沙群島      0  0.5045     0

In [19]:
sorted_value['人口數排名'] = sorted_value['年底人口數'].rank(method='first',ascending=False)
sorted_value

0    統計年     區域別   年底人口數     土地面積   人口密度  人口數排名
1    106  新北市板橋區  551480  23.1373  23835    1.0
42   106  桃園市桃園區  440840  34.8046  12666    2.0
5    106  新北市新莊區  416524  19.7383  21102    3.0
3    106  新北市中和區  413590  20.1440  20532    4.0
43   106  桃園市中壢區  405216  76.5200   5296    5.0
..   ...     ...     ...      ...    ...    ...
367  106  連江縣莒光鄉    1624   4.7000    346  366.0
368  106  連江縣東引鄉    1352   3.8000    356  367.0
364  106  金門縣烏坵鄉     685   1.2000    571  368.0
369  106    東沙群島       0   2.3800      0  369.0
370  106    南沙群島       0   0.5045      0  370.0

[370 rows x 6 columns]